// COLORS
$color-bg: #81CFE0;
$color-main: #03C9BB;
$color-hover: #45D7BF;
$color-red: #C0392B;
$color-green: #1BBC9B;
// GREYS
$color-grey1: #ececec;
$color-grey2: #95989A;
$color-grey3: #8D8D8D;
// WHITE / BLACK
$color-black: #1d1d1d;
$color-white: #fff;
$color-white2: #F8F8F8;

// FONTS
$font-title: 'Droid Serif', serif;
$font-text: 'Lato', sans-serif;

// SIZES
$margin-main: 50px;
$margin-contain: 200px;
$height-header: 60px;
